html{
    font-size: 62.5%;
}

:root{
    --color-primary:#F2EEEB;
    --color-secondary:#262622;
    --color-accent:#BF6341;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    max-width:1440px;
    margin:0 auto;
}

body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color:var(--color-secondary);
    font-size:1.563rem;
    line-height:1.5;
}

h1,
h2,
h3{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color:var(--color-secondary);
    margin-bottom: 1rem;
}

h1{
    font-size: 3.052rem;
}
h2{
    font-size:2.441rem;
}
h3{
    font-size:1.953rem;
}

.lead{
    font-size: 1.563rem;
    color:var(--color-secondary);
}

@media screen and (min-width:768px){
    body{
        font-size:2.4rem;
    }
    h1{
        font-size:7rem;
    }
    h2{
        font-size:6.854rem;
    }
    h3{
        font-size:4.236rem;
    }
    .lead{
        font-size: 3rem;
    }
}

@media screen and (min-width:1024px){
    body{
        font-size:2.4rem;
    }
    h1{
        font-size:11.089rem;
    }
    h2{
        font-size:6.854rem;
    }
    h3{
        font-size:4.236rem;
    }
    .lead{
        font-size: 3rem;
    }
}

/* background image */
.cover-image{
   background: url(../images/hero-small.jpg) no-repeat;
   background-size: cover;
   height:100vh;
   width:100%;
background-position: center center;
}

@media screen and (min-width:768px){
    .cover-image{
        background: url(../images/hero-medium.jpg) no-repeat;
        background-size: cover;
    }
}


@media screen and (min-width:1024px){
    .cover-image{
        background: url(../images/hero-large.jpg) no-repeat;
        background-size: cover;
    }
}


/* block */

.block{
    --padding-vertical:6rem;
    padding:var(--padding-vertical) 2rem;
}

.block__header{
    text-align: center;
}

.block__heading{
    margin:0;
}

@media screen and (min-width:768px){
    .block{
        --padding-vertical:15rem;
        padding:var(--padding-vertical) 2rem;
    }
}

/* hero */

.hero__heading{
    text-transform: uppercase;
    color:var(--color-secondary);
}


/* icon */
.icon{
    width:40px;
    height:40px;
}

.icon--secondary{
    fill:var(--color-secondary);
}

.icon--white{
    fill:#fff;
}

/* callopsible */
.collapsible__header{
    display:flex;
    justify-content: space-between;
}

.collapsible__heading{
    margin-top:0;
    font-size:4.236rem;
}

.collapsible__chevron{
    transform: rotate(-90deg);
    transition:transform 0.3s;
}

.collapsible__content{
    max-height:0;
    overflow: hidden;
    opacity:0;
    transition:all 0.3s;
}

.collapsible--expanded .collapsible__chevron{
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content{
    max-height:100vh;
    opacity:1;
}

/* nav */

.list{
    list-style: none;
    padding-left:0;
}

.nav{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;
    padding:1rem;
    align-items: center;
    border-bottom: 0.5px solid var(--color-primary);
    text-transform: uppercase;
align-items:center;
width:100vw;

}

.nav__list{
    width:100%;
    margin:0;
}

.nav__item{
    padding:0.5rem 2rem;
}

.nav__item>a{
    color:#262622;
    transition:color 0.3s;
}

.nav__item>a:hover{
    color:var(--color-accent);
}

.nav__toggler{
    opacity:0.5;
    cursor:pointer;
    transition:box-shadow 0.15s;
}

.nav.collapsible--expanded .nav__toggler{
    opacity:1;
    box-shadow:0 0 3px #666;
    border-radius:5px;
}

@media screen and (min-width:768px){
    .nav__toggler{
        display:none;
    }

    .nav__list{
        max-height:100%;
        opacity: 1;
        display:flex;
        width:auto;
    }

}

/* grid */

.grid{
    display:grid;
}
