html{
    font-size: 62.5%;
}

:root{
    --color-primary:#F2EEEB;
    --color-secondary:#262622;
    --color-accent:#BF6341;
--color-brown:#BF8F54;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

a{
    text-decoration: none;
}

.container{
    max-width:1440px;
    margin:0 auto;
}

body{
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
    color:var(--color-secondary);
    font-size:1.563rem;
    line-height:1.5;
    font-weight: 300;
}

h1,
h2,
h3{
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color:var(--color-secondary);
    margin-bottom: 1rem;
}

h1{
    font-size: 3.052rem;
}
h2{
    font-size:3rem;
}
h3{
    font-size:2.5rem;
}

.lead{
    font-size: 1.563rem;
}

.lead-second{
    font-size:1rem;
    white-space: nowrap;
    text-align: center;
}

@media screen and (min-width:600px){
    body{
        font-size:2rem;
    }
    h1{
        font-size:6rem;
    }
    h2{
        font-size:3.998rem;
    }
    h3{
        font-size:2.827rem;
    }
    .lead{
        font-size: 2rem;
    }
    .lead-second{
        font-size:1.8rem;
      padding-top:5rem;
    }
}

@media screen and (min-width:768px){
    body{
        font-size:2rem;
    }
    h1{
        font-size:7rem;
    }
    h2{
        font-size:3.998rem;
    }
    h3{
        font-size:2.827rem;
    }
    .lead{
        font-size: 2.4rem;
    }
    .lead-second{
        font-size:2.5rem;
      padding-top:5rem;
    }
}

@media screen and (min-width:1024px){
    body{
        font-size:2.2rem;
    }
    h1{
        font-size:11rem;
    }
    h2{
        font-size:5.063rem;
    }
    h3{
        font-size:3.375rem;
    }
    .lead{
        font-size: 3.2rem;
    }
    .lead-second{
        font-size:3rem;
      padding-top:6rem;
    }
}

/* background image */
.cover-image{
   background: url(../images/hero-small.webp) no-repeat;
   background-size: cover;
   min-width:100%; 
   min-height:100vh;
   background-position: center center;
 
}


.no-webp .cover-image{
    background: url(../images/hero-small.jpg) no-repeat;
   background-size: cover; 
}


@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px) { 

    .cover-image{
        background: url(../images/hero-small@2x.webp) no-repeat;
        background-size: cover;
     }
     
     .no-webp .cover-image{
         background: url(../images/hero-small@2x.jpg) no-repeat;
        background-size: cover; 
     }

}

@media screen and (min-width:768px){
    .cover-image{
        background: url(../images/hero-medium.webp) no-repeat;
        background-size: cover;
    }
    .no-webp .cover-image{
        background: url(../images/hero-medium.jpg) no-repeat;
       background-size: cover; 
    }
}
  
  @media
  only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 700px),
  only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 700px),
  only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 700px),
  only screen and (        min-device-pixel-ratio: 2)      and (min-width: 700px),
  only screen and (                min-resolution: 192dpi) and (min-width: 700px),
  only screen and (                min-resolution: 2dppx)  and (min-width: 700px) { 
    .cover-image{
        background: url(../images/hero-medium@2x.webp) no-repeat;
        background-size: cover;
    }
    .no-webp .cover-image{
        background: url(../images/hero-medium@2x.jpg) no-repeat;
       background-size: cover; 
    }

  
  }

@media screen and (min-width:1024px){
    .cover-image{
        background: url(../images/hero-large.webp) no-repeat;
        background-size: cover;
    }
    .no-webp .cover-image{
        background: url(../images/hero-large.jpg) no-repeat;
       background-size: cover; 
    }
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1300px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1300px),
only screen and (                min-resolution: 192dpi) and (min-width: 1300px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1300px) { 
    .cover-image{
        background: url(../images/hero-large@2x.webp) no-repeat;
        background-size: cover;
    }
    .no-webp .cover-image{
        background: url(../images/hero-large@2x.jpg) no-repeat;
       background-size: cover; 
    }


}

/* block */

.block{
    --padding-vertical:6rem;
    padding:var(--padding-vertical) 2rem;
}

.block__header{
    text-align: center;
}

.block__heading{
    color:var(--color-primary);
    margin:0 auto;
}

@media screen and (min-width:768px){
    .block{
        --padding-vertical:13rem;
        padding:var(--padding-vertical) 2rem;
    }
}


/* hero */
.hero{
    color:#fff;
}

.hero__heading{
    text-transform: uppercase;   
}

@media screen and (min-width:1024px){
    .hero-block{
        --padding-vertical:22rem;
        padding:var(--padding-vertical) 2rem;
}
}

/* button */

.btn{
    padding:1rem 4rem;
    outline:0;
    border:0.1px solid #fff;
    background-color: transparent;
    cursor:pointer;
    white-space:nowrap;
    text-align: center;
    margin:1rem 0;
    color:#fff;
    text-transform: uppercase;
 font-size: 1.2rem;
}

.btn:hover{
    background-color:#f2eeeb7a ;
}

.btn-hero{
    margin-top:10rem;
}

@media screen and (min-width:600px){
    .btn{
        font-size:1.8rem;
        letter-spacing: 2px; 
    }
}

@media screen and (min-width:768px){
    .btn{
        font-size:2rem;
        letter-spacing: 2px; 
    }
}

@media screen and (min-width:1024px){
    .btn{
        font-size:2.5rem;
    }
    .btn-hero{
        margin-top:15rem;
    }
}

/* icon */
.icon{
    width:40px;
    height:40px;
}

.icon--secondary{
    fill:var(--color-secondary);
}

.icon--white{
    fill:#fff;
}


/* callopsible */
.collapsible__header{
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom:0.5px solid #fff;
    margin-bottom: 1rem;
}

.collapsible__heading{
    margin-top:0;
}

.collapsible__chevron{
    transform: rotate(-90deg);
    transition:transform 0.3s;
}

.collapsible__content{
    max-height:0;
    overflow: hidden;
    opacity:0;
    transition:all 0.3s;
}

.collapsible--expanded .collapsible__chevron{
    transform: rotate(0);
}

.collapsible--expanded .collapsible__content{
    max-height:100vh;
    opacity:1;
}

/* nav */

.list{
    list-style: none;
    padding-left:0;
}

.nav{
    display:flex;
    justify-content: space-between;
    flex-wrap:wrap;

    align-items: center;
font-weight: 400; 
    text-transform: uppercase;
align-items:center;
width:100vw;
background-color: #f2eeeb37;
}



.nav__list{
    width:100%;
    margin:0;
}

.nav__item{
    padding:1.5rem 2rem;
    border-bottom: 0.2px solid var(--color-primary);

}

.nav__item>a{
    color:#262622;
}

.nav__item:hover>a{
    color:var(--color-primary);
    transition:color 0.3s;
}

.nav__item:hover{
    background-color: var(--color-accent);
}

.nav__brand{
padding:1rem 1rem;
}
.nav__toggler{
    opacity:0.5;
    cursor:pointer;
    transition:box-shadow 0.15s;
  
}

.nav.collapsible--expanded .nav__toggler{
    opacity:1;
    box-shadow:0 0 3px #666;
    border-radius:5px;
  
}

@media screen and (min-width:768px){
    .nav__toggler{
        display:none;
    }

    .nav__list{
        max-height:100%;
        opacity: 1;
        display:flex;
        width:auto;
    }
    
    .nav__item:hover>a{
        color:var(--color-primary);
    }

    .nav__item:hover{
        background-color: var(--color-accent);
        transition:background-color 0.3s;
    }

    .nav-bottom-border{
        border-bottom: 0.5px solid var(--color-primary);
     }   
     
     .nav__item{
    border-bottom: none;
}
}


 

/* grid */

.grid{
    display:grid;
}

@media screen and (min-width:768px){
.grid--1x2{
    grid-template-columns: repeat(2,1fr);
}
}

/* profile */

.profile--block{
    background-color: var(--color-brown); 
}

.profile__image{
    width:100%;
    margin:0 auto;
    padding:1rem;
    
}

.profile__content{
    padding:5rem 1rem;
    text-align:center;
}

.profile__heading{
    margin:0;
}



@media screen and (min-width:1024px){
    .profile__image{
        padding:5rem;
    } 
    .profile__content{
        padding:5rem;
        text-align:left;
    }
}

.profile__image{
    width:80%;
    position: relative;
    z-index: 2;   
}

/* style-wraper */

.style-container{
    position:relative;   
}

.style{
    border:1px solid var(--color-primary);
    position: absolute;
    top:20%;
    left:20%;
    z-index:1;
}

.style-wraper{
    width:70%;
    height: 0;
    padding-bottom: 70%;
}

@media screen and (min-width:768px){
  
    .style-wraper{
        width:72%;
        height: 0;
        padding-bottom: 72%;
    }
    
}


@media screen and (min-width:1024px){
  
    .style-wraper{
        width:65%;
        height: 0;
        padding-bottom: 65%;
    }
    
}

/* service */
.service--block{
    background-color: var(--color-accent); 
}

.service__image{
    width:80%;
    margin:0 auto;
    
}

.service__content{
    color:#fff;
    padding:2rem;
    text-align:left;
}

.service__heading{
    margin:0;
    padding-bottom: 1.5rem;
    text-align: left;
    text-transform: uppercase;
    color:#fff;
}

.service__item{
    padding:1rem 0;
}

.service__item__heading{
    color:#fff;
}


.service__image{
    width:80%;
    position: relative;
    z-index: 2;   
}

.service__list{
    margin-top:0;
    padding-left:0;
}

@media screen and (min-width:1024px){
    .service__image{
        padding:5rem;
    } 
    .service__content{
        padding:8rem 2rem;
    }
}
